<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizgame">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ChoiGameActivity" />
        <activity android:name=".ManHinhChinh" />
        <activity android:name=".CauHoi" />
        <activity android:name=".QuenMatKhauActivity" />
        <activity android:name=".QuanLiTaiKhoanActivity" />
        <activity android:name=".MuaCreaditActivity" />
        <activity android:name=".LinhVucLoader" />
        <activity android:name=".LichSuCauHoiActivity" />
        <activity android:name=".HuongDanActivity" />
        <activity android:name=".CauHoiLoader" />
        <activity android:name=".BangXepHangActivity" />
        <activity android:name=".DangKiTaiKhoanActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>